// @import "colors";

.main {
  background: linear-gradient(180deg, $roxo-escuro 0%, $roxo-vibrante 100%);
  padding-bottom: 50px;
  position: relative;

  .titulo {
    text-align: center;
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 0 15% 2.5%;

    h2 {
      font-size: 3.5em;
      margin: 10px 0;
    }
    h4 {
      font-size: 1.2em;
      margin: 10px 0 0;
      text-transform: uppercase;
    }
    p {
      line-height: 150%;
      width: 75%;
      margin: 2.5% auto 0;
    }
  }
  .back {
    // border: 1px solid $laranja-escuro;
    text-align: center;
    color: $laranja-escuro;
    position: fixed;
    left: 4%;
    top: 10%;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 100;
    padding: 12px;
    border-radius: 50%;
    // background: linear-gradient(145deg, $roxo-vibrante, #230025);
    box-shadow: 5px 5px 10px #1700186b, -5px -5px 10px #2400255b;
    // transition: box-shadow 0.2s ease-in-out, background 0.2s ease-in-out;

    &:hover {
      background: linear-gradient(145deg, #23002593, #2a002c88);
      box-shadow: 3px 3px 6px #17001873, -3px -3px 6px #240025;
      transform: scale(0.95);
    }

    i {
      font-size: 1.2rem;
      margin-bottom: 5px;
      color: $laranja-claro;
    }
  }
}

.grid-container {
  display: grid;
  row-gap: 30px;
  padding: 30px 25% 60px;
  position: relative;
  img {
    width: 100%;
  }
}

.fundo-prscl {
  background: linear-gradient(320deg, #fff8fa 0%, #e3c2c0 100%), #e3c2c0;
  padding: 60px;
  margin: 0 25%;
}

.mb-30 {
  margin-bottom: 30px;
}
