// @import "colors";

main {
  background: linear-gradient(180deg, $roxo-escuro 0%, $roxo-vibrante 100%);

  .titulo {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 0 15% 2.5%;

    h2 {
      font-size: 3.5em;
      margin: 10px 0;
      /* margin: 15px; */
    }
    h4 {
      font-size: 1.2em;
      margin: 10px 0 0;
      text-transform: uppercase;
      /* margin: 15px; */
    }
    p {
      line-height: 150%;
      width: 75%;
      margin: 2.5% auto 0;
    }
  }
}

.grid-container {
  display: grid;
  row-gap: 30px;
  padding: 30px 25% 60px;
}

img {
  width: 100%;
}

.fundo-prscl {
  background: linear-gradient(320deg, #fff8fa 0%, #e3c2c0 100%), #e3c2c0;
  padding: 60px;
  margin: 0 25%;
}

.mb-30 {
  margin-bottom: 30px;
}
